<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xosmos.mapper.AuctionRecordMapper">
    <select id="queryAuctionRecordByID" resultType="AuctionRecord">
        select * from auction.auctionRecord
        where recordID = #{recordID};
    </select>

    <select id="queryAllAuctionRecords" resultType="AuctionRecord">
        select * from auction.auctionRecord;
    </select>

    <select id="queryAuctionRecordByCustomerID" resultType="AuctionRecord">
        select * from auction.auctionRecord
        where customerID = #{custimerID};
    </select>

    <select id="queryAuctionRecordByAuctionVenueID" resultType="AuctionRecord">
        select * from auction.auctionRecord
        where venueID = #{venueID};
    </select>
    
    <select id="queryAuctionRecordByVenueIDAndAuctionID" resultType="AuctionRecord">
        select * from auction.auctionRecord
        where venueID = #{venueID} and auctionID = #{auctionID};
    </select>

    <insert id="addAuctionRecord" parameterType="AuctionRecord">
        insert into auction.auctionRecord(auctionID, customerID, venueID, startTime, endTime, finalPrice, status)
        values (#{auctionID}, #{customerID}, #{venueID}, #{startTime}, #{endTime}, #{finalPrice}, #{status});
    </insert>

    <update id="updateAuctionRecord" parameterType="AuctionRecord">
        update auction.auctionRecord
        set auctionID = #{auctionID}, customerID = #{customerID}, venueID = #{venueID},
            startTime = #{startTime}, endTime = #{endTime}, finalPrice = #{finalPrice}, status = #{status}
        where recordID = #{recordID};
    </update>
</mapper>