<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拍卖品</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{'/auctioneer/auction-venue/' + ${venueID}}">
                    拍卖品列表
                </a>
            </li>
            <li th:each="auction : ${auctions}">
                <a th:href="@{'/auctioneer/auction-venue/' + ${venueID} + '/' + ${auction.auctionID}}" th:text="${auction.auctionName}"><i class="fa fa-fw fa-flag"></i> </a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="page-header">拍卖会场</h1>
                    <p class="lead">当前拍品信息</p>
                    <div style="width: 60%; margin: auto;">
                        <dl class="dl-horizontal info-dl">
                            <dt>拍卖品编号</dt>
                            <dd id="auctionID" th:text="${auction.auctionID}"></dd>
                            <br>
                            <dt>拍卖品名称</dt>
                            <dd th:text="${auction.auctionName}"></dd>
                            <br>
                            <dt>拍卖品起拍价</dt>
                            <dd th:text="${auction.startPrice}"></dd>
                            <br>
                            <dt>当前价格</dt>
                            <dd id="currentPrice" th:text="${auction.startPrice}"></dd>
                            <br>
                            <dt>报价时间</dt>
                            <dd id="updateTime">暂无报价</dd>
                        </dl>
                        <br>
                        <div style="text-align: center">
                            <button id="start-btn" class="btn btn-primary" onclick="startAuction()" th:disabled="${auction.status} != '未拍卖'">开始拍卖</button>
                            <button id="end-btn" class="btn btn-danger" onclick="endAuction()" th:disabled="${auction.status} != '拍卖中'">结束拍卖</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span style="display: none" id="venueID" th:text="${venueID}"></span>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed === true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    let ws = new WebSocket("ws://localhost:8080/websocket/" + $("#venueID").text());

    ws.onopen = function () {
        console.log("建立连接。");
    }

    ws.onclose = function () {
        console.log("解除连接。")
    }

    ws.onerror = function () {
        console.log("出现错误！");
    }

    ws.onmessage = function (message) {
        let json = JSON.parse(message.data);
        console.log(json)
        switch (json.key) {
            case "begin":
                // do nothing
                break;
            case "price":
                let currentPrice = json.currentPrice;
                let updateTime = json.updateTime;
                $("#currentPrice").text(currentPrice);
                $("#updateTime").text(updateTime);
                break;
            case "end":
                if (json.status === '已拍卖') {
                    alert("拍卖已结束，客户" + json.customerID + "拍下该拍品。");
                } else {
                    alert("拍卖已结束，该拍品流拍。")
                }
                break;
            default:
                console.log("[ERROR] invalid json key '" + json.key + "'.");
        }
    }

    function startAuction() {
        ws.send(JSON.stringify({
            "key": "begin",
            "auctionID": parseInt($("#auctionID").text()),
        }));
        $("#start-btn").attr("disabled", true); // 禁用开始拍卖按钮
        $("#end-btn").attr("disabled", false);   //  解禁结束按钮
    }

    function endAuction() {
        ws.send(JSON.stringify({
            "key": "end",
            "auctionID": parseInt($("#auctionID").text()),
        }));
        $("#end-btn").attr("disabled", true);
    }
</script>
</body>
</html>
